/* Import Font CSS */
@import "../utility/fonts.css";

/* Update All */

* {
    box-sizing: border-box;
}

/* Body Basics */

body {
    font-family: "Q-Regular";
    padding: 12px;
    color: white;


background-color:black;
}

/* Header Setup */

.header {
    padding: 0px;
    text-align: center;
}

.header h1 {
    font-family: "Q-Regular";
    font-size: 64px;
}

.header p {
    font-family: "Q-Light";
    font-size: 32px;
}

/* Top Navigation Setup */

.navigation {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}

.navigation a {
    font-family: "Q-Regular";
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover{
    background-color: white;
    font-family: "Q-Bold";
    color: black;
}

/* Center Setup */

.showcase {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 90%;
    max-height: 80%;
}

/* Phrase Setup */

.phraser {
    position: fixed;

    left: 0;
    bottom: 0;

    width: 100%;
    margin-bottom: 3vh;


    text-align: center;
}

.phraser p 
{
    font-family: "Q-Bold";
    font-size: 3vw;
}

/* Footer Setup */

footer {
    position: fixed;

    left: 8;
    right: 8;
    bottom: 8;

    width: 100%;

    text-align: center;
}

footer a {
    font-family: "Q-Light";
    float: left;
    display: block;
    color: white;
    margin-right: 16px;
    text-align: center;
    text-decoration: none;
}

footer .rightSide
{
    float: right;
}

footer a:hover
{
    border-radius: 2px;

    padding-left: 3px;
    padding-right: 3px;

    background-color: white;
    font-family: "Q-Bold";
    color: black;
}
